#header {
	border-bottom : solid;
}

#slogan {
	margin-left : 20em;
}

#inputform {
	margin-top : 2em;
	margin-left : 2em;
	margin-right : 2em;
}

#chart_content {
	margin-top : 2em;
	margin-left : 5em;
}

