<% if (agent.id && typeof id !== 'undefined') {  %>
	<p class="general-license-info">
		<strong>license ID:</strong> <%= id %><br>
        <!-- <strong>appId:</strong> <%= agent.appId %><br> -->
        <strong>started at:</strong> <%= (new Date(agent.startedTime * 1)).toLocaleString() %><br>
        <strong>user:</strong> <%= agent.user %><br>
        <strong>remaining memory:</strong> <%= DT.formatters.byteFormatter(agent.remainingLicensedMB, 'mb') %><br>
        <strong>total memory:</strong> <%= DT.formatters.byteFormatter(agent.totalLicensedMB, 'mb') %><br>
        <span class="license-agent-mem-usage progress <% 
        	if (agent.percentUsedLicenseMB > 90) { 
        		print('progress-danger') 
        	} else if (agent.percentUsedLicenseMB > 75) {
        		print('progress-warning')
        	} %>">
        	<span class="bar" style="width:<%= Math.max(agent.percentUsedLicenseMB, 2) %>%"></span>
        </span>
        <span class="license-agent-usage-label"><%= agent.percentUsedLicenseMB %>% memory used</span>
    </p>

	<% if (sections.length) { %>
		<h4>License Sections</h4>
		<% _.each( sections, function(section) { %>
		<p class="license-info-block well">
			<strong>start date:</strong> <%= section.startDate %><br>
			<strong>end date:</strong> <%= section.endDate %><br>
			<strong>constraint:</strong> <%= section.constraint %><br>
			<strong>comment:</strong> <%= section.comment %><br>
		</p>
		<% }) %>

	<% } %>

<% } else { %>
	
	<%= DT.text('Loading license information...') %>

<% } %>