<% if (agent.id && typeof id !== 'undefined') {  %>
	<p class="general-license-info">
		<strong>license ID:</strong> <%= id %><br>
        <!-- <strong>appId:</strong> <%= agent.appId %><br> -->
        <% if (!agent.fetchFailed) { %>
        <strong>started at:</strong> <%= (new Date(agent.startedTime * 1)).toLocaleString() %><br>
        <strong>user:</strong> <%= agent.user %><br>
        <strong>remaining memory:</strong> <%= DT.formatters.byteFormatter(agent.remainingLicensedMB, 'mb') %><br>
        <strong>total memory:</strong> <%= DT.formatters.byteFormatter(agent.totalLicensedMB, 'mb') %><br>
        <%= DT.templates.licensed_mem_bar({agent: agent}) %>
        <% } %>
    </p>

	<% if (sections.length) { %>
		<h4>License Sections</h4>
		<% _.each( sections, function(section) { %>
		<p class="license-info-block well">
			<strong>start date:</strong> <%= section.startDate %><br>
			<strong>end date:</strong> <%= section.endDate %><br>
			<strong>constraint:</strong> <%= section.constraint %><br>
			<strong>comment:</strong> <%= section.comment %><br>
		</p>
		<% }) %>
	<% } %>

    <p>
        You can <a href="http://datatorrent.com/license-upgrade" class="action-link" target="_blank">upgrade</a> the capacity of the license any time.
    </p>

<% } else { %>
	
	<%= DT.text('Loading license information...') %>

<% } %>