body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 60px;
    padding-bottom: 40px;
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }

    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/** Navigation bar */
.navbar .nav > li {
    line-height: 28px;
}

.navbar .brand {
    background: url("../images/main_banner.png") no-repeat scroll 0 0;
    padding: 0;
    width: 241px;
    height: 48px;
    margin-left: 0;
}

.navbar .navbar-inner {
    background: #11506d;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background: #11506d;
}

.navbar-inverse .nav-collapse .nav > li > a:hover {
    background: #11506d;
}

.navbar-inverse .btn-navbar, .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active {
    background: #11506d;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background: #11506d;
}

/* Bootstrap images */
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
}

.line-chart {
    height: 400px;
}

.ngGrid {
    border: 1px solid rgb(212,212,212);
}

.app-list-grid {
    width: 1000px;
    height: 500px;
}

.monitored-jobs-grid {
    width: 900px;
    height: 150px;
}

.monitored-jobs-grid .remove {
    text-align: center;
    cursor: pointer;
}

.job-progress-grid-content {
    padding-top: 20px;
}

.job-progress-grid {
    width: 500px;
    height: 200px;
}

.job-progress-header h2 {
    display: inline-block;
}
.job-progress-header .job-label {
    padding-left: 20px;
}

.grid-container {
    min-width: 600px;
}

.task-progress-grid {
    width: 600px;
    height: 200px;
}

.job-progress .progress {
    width: 200px;
    margin-bottom: 0;
}

.job-progress .progress .bar {
    padding-left: 20px;
    color: black;
    white-space: nowrap;
    text-align: left;
}

.job-progress .table tr {
    height: 30px;
}

.job-label {
    font-weight: bold;
}

.row-active {
    background-color: orange;
}

.counters select {
    width: auto;
    min-width: 220px;
}

.counters .table-container {
    width: 100%;
    overflow: auto;
}

.counters .counter-col {
    width: 70px;
}

.applist .table {
    width: auto;
}

.applist .progress {
    display: inline-block;
    margin-bottom: 0;
    width: 70px;
}

.monitored-jobs h2, .applist h2 {
    display: inline-block;
}

.loading {
    margin-left: 20px;
}

/* TODO */

/*
.ngRow.selected {
    background-color: orange;
}

.ngCell {
    background-color: red;
}
*/


/* animations */
.loading {
    -webkit-transition: all linear 2s;
    transition: all linear 2s;
    opacity: 1;
}

.loading.ng-hide-add, .loading.ng-hide-remove {
    display: inline !important;
}

.loading.ng-hide {
    opacity: 0;
}