<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DataTorrent: The Real-Time Big Data Platform</title>
    <link rel="stylesheet" href="css/index.css" type="text/css" media="screen">
    <script>
            window.UI_VERSION = '<%= pkg.version %>';
    </script>
    <script src="js/REPORTER.debug.js"></script>
    <script src="js/vendor/jquery/dist/jquery.js"></script>
    <script>window.WEBSOCKET_HOST = "<%= config.gateway.host + ':' + config.gateway.port %>";</script>
    <script src="/bundle.js"></script>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
<div id="wrapper"><div class="loading-assets">assets loading</div></div>
<!-- FOR LIVE-RELOAD BUNDLING
<script type="text/javascript" src="http://localhost:9223"></script>
-->
</body>
</html>