.tabled-ctnr {
  overflow: auto;
  padding-bottom: 20px;
}
.tabled-ctnr .tabled-inner {
  overflow: hidden;
}
.tabled {
  font-size: 12px;
  white-space: nowrap;
  box-shadow: inset 0 1px 0 0 black;
  outline: none;
  position: relative;
  display: inline-block;
}
.tabled .tr {
  width: 100%;
  height: 2em;
  box-shadow: inset -1px -1px 0 0 #000000, inset 1px 0 0 #000000;
}
.tabled .tr.filter-row .cell-inner {
  width: 96%;
  padding: 0 2%;
}
.tabled .tr:nth-child(even) {
  background: #EFEFEF;
}
.tabled .tr .th,
.tabled .tr .td {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 2em;
  box-shadow: inset -1px 0 0 0 #000000;
}
.tabled .tr .cell-inner {
  line-height: 2em;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}
.tabled .tr .cell-inner.filter {
  white-space: normal;
}
.tabled .tr .colsort-helper {
  width: 0px;
  height: 100%;
  display: inline-block;
  box-shadow: 0 0 2px 1px red;
}
.tabled .thead {
  position: relative;
  z-index: 1;
}
.tabled .thead.overhang {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}
.tabled .tbody-outer {
  position: relative;
}
.tabled .tbody-outer .scroller {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 10px;
}
.tabled .tbody-outer .scroller .inner {
  width: 80%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  min-height: 10px;
}
.tabled input.filter {
  width: 93%;
  max-width: 200px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  position: relative;
  display: block;
  height: 1.4em;
  top: 1px;
  text-indent: 0.3em;
}
.tabled .th {
  position: relative;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  /*		padding-left:11px;*/
}
.tabled .th .resize {
  display: block;
  border-width: 0 0 0 1px;
  background: white;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  width: 3px;
  height: 90%;
  position: absolute;
  right: 1px;
  top: 5%;
  cursor: col-resize;
}
.tabled .th.asc,
.tabled .th.desc {
  font-style: italic;
}
.tabled .th .asc-icon,
.tabled .th .desc-icon {
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiRJREFUeNp8lE2IUlEUx+97ozOLCZRE6WOTosNAICFhuBJbNauhIqKgXUwUBG1q36JlbYKEVsEspKIgdBEyjAt1F5gfgWCYimPCe4TPT0yft3OGe+XOxd6FH3g+7p//Oe+i4vF4iHTCwCngUMp/Bq4T6/NOkQTXgG9M8CLwV6idB6qstupowLYqJZ8ClwA/8FyqHQHPLNw9Af6IDlGkIDhAd1eA79IEWSAiiX0FdvCH6PC1NM468IaJ8GMCj6RVDIHHPOCCd4FrK8ZAJ3tSDh2/EuIXwE8e4Min2bLd/9kNOthmOxTd/2C1y8z58bEBLy3ECFsDruOGkMORHzBBU2xWKKUnbqfT6dt2u90Ri8Xeinld1387nc4zVo9Q07QGQUFOIpFYb7VaWqfTMZLJ5KZYy+VykfF4bE6nU7qK0Wg0g56tE4KFQuFTv9+nSLlcPhBrg8GAVCqVD5PJhK6iWCzGsWd5IZPJXDUMYz4cDikCootsNnuL1yEm4Hqj2+3q4JSKtNvtIxRDlu8wEAjsw+7WVFUliM1mUyAXT6VSG7wnGo1Oa7Xaw/l8TheLBUFms5kJuXs8PhYslUpxl8t1TlEUIuJwOFxer3dfXHwwGPzYbDYPuUC9Xv8SCoWWfyRqPp/f8vv997kzGZ/PdxN6IqZpEgRFGo3GLqyl3+v19Gq1eoeLIwp80V9ut/uC1XOAi11YwVkxBx9wD8Y1wuHwezH/T4ABAJNmYwBTPPKPAAAAAElFTkSuQmCC);
  width: 10px;
  height: 8px;
  display: inline-block;
}
.tabled .th .asc-icon {
  background-position: 0px 0px;
}
.tabled .th .asc-icon.white {
  background-position: 0px -8px;
}
.tabled .th .desc-icon {
  background-position: -10px 0px;
}
.tabled .th .desc-icon.white {
  background-position: -10px -8px;
}
.tabled .th .th-header {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  user-select: none;
}
.tabled .resize-table {
  position: absolute;
  bottom: 0;
  right: 0;
  border-color: transparent rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) transparent;
  border-width: 13px;
  border-style: solid;
  cursor: se-resize;
  z-index: 2;
}
.tabled .loading-tr {
  line-height: 2;
  text-align: center;
  font-weight: bold;
}
.tabled .tabled-spinner {
  display: inline-block;
  width: 23px;
  height: 12px;
  vertical-align: middle;
  position: relative;
  background: transparent url('data:image/gif;base64,R0lGODlhFwAMAOMAAKyurNza3MTCxLy6vPTy9LS2tOzq7LSytOTi5MzOzLy+vPz6/P///wAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQIBgAAACwAAAAAFwAMAAAEYpDJSau9OLPE02JBZzBGFzBLlxyDchCMoAzDGRSzwBCsC7SvWKtgK7R0BMAM0AsqZkSQcYA8zA4/F0xGK+Z2ygEg7IQWj+DnmAbYDgrRm7HKRtgRH8MdRriPFnYBCBqEhYYRACH5BAgGAAAALAAAAAAXAAwAhAwODKyurNza3CwuLMTCxPTy9BwaHLy6vOzq7BQWFLS2tOTi5BQSFLSytNze3ERGRMzOzPz6/CQiJLy+vP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV1IDMMiUOdaKqiyfNI5iqnhgtTAqQjFKJDAkrkB6m9TITD5BAUKJYESqGhbBhvyYOiqVBGC4Fl4IpUbnHdw7extNrKWi5UGj6M3xTCk4n20icTd0d5B3FoXWuFgjcIDgsOBVKODjwRDo4LZDObFAASEgAxnCshACH5BAgGAAAALAAAAAAXAAwAhBwaHJSSlMzOzFRSVKyurOTm5DQ2NLy6vGxubPTy9ERGRHx+fCwuLNza3LS2tOzu7MTCxExOTISGhCQiJKyqrLSytOzq7Ly+vPz6/ExKTISChOTi5P///wAAAAAAAAAAAAWA4CJJ2sNFDDMFXOu+bYYgQ3EqisHCvEzbA5yOYxEYGxyM0eir3XKshuNygHASlcOl0gQKow6tNUGgErrPofRQvVao3JkzCOVIqePy4Sy3Zb52YRdjbxd8Pxx0amFtDxVhh04RgAkbDRsWSRubG00biYA8MBSkFAkcGRMTADuiLiEAIfkECAYAAAAsAAAAABcADACFHBocjI6MzM7MrK6sZGJknJ6c7O7shIKENDY0vL68/Pr8lJaUbG5spKakLC4s3NrcvLq89Pb0jIqMREZExMbEJCIklJKUtLK0bGpspKKk9PL0hIaExMLE/P78nJqcdHZ0rKqs5OLkTE5M////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABpXAiCIS6Ywym82BMrJUHA7RaEqVeDwBw+iDYRBATcRkIqVOAw3QQvtheMEBMXmkENgFlkZjvWVgvmFjUhoXEAkXFiAgFmxugBZygxcJEANoamxdj5EjEYWVeXuNb4FzhIaWinxcpJCCnYUJA3mLo5uvp5UBIKJ9f2CucwohDyEhBXoZGluawJxm0FMciiAPTQAVFWVmQQAh+QQIBgAAACwAAAAAFwAMAIUMDgyUlpTU1tRkYmS0srQsLiykpqTs7ux0dnTEwsQcGhycnpz8+vwUFhTc3txsamy8vrysrqyEgoTMyswUEhScmpzc2ty0trRERkSsqqz09vTExsQkIiSkoqT8/vxsbmyEhoT///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGlcCQcMjQFD2hjQQE6oQcjUKBMhwaKoHAJJQZfD6IkIWDwSggkAREwzVkFluDF/wkmyuEyOLQfm+7Hw9hY2UKFREEHXwZbnAhcl9hDnaGeXttBh1/c4OUhwSXGYyaj5x1hXgRin2OkHSEZgEReosGmZuRp2YWArwMrHGmsApVQhe2HQJcAw+CusTF0RYGERkJTxQcHABBACH5BAgGAAAALAAAAAAXAAwAhExKTKSmpNTW1Ly+vHx+fOzu7LSytJSWlPz6/MzKzGxubKyurOTi5ISGhPT29Ly6vKSipNTS1FRSVKyqrISChPTy9LS2tJyanPz+/MzOzOTm5P///wAAAAAAAAAAAAAAAAWJ4CaOpIg5CLoVVNMQZbwlx3VMGyMpCpBlkQxikxkYGbNLYBLYaHY9w+NhqGwM2ElmBgksnVDAYvBYODaLhUHLXeJ0PLGxejUs2Inu9xmXUq1qd1sJSkxgcWMDdHZrg3pvYQsPFnRpCwGOS018PQyeDGcaAqNWhF44nAAyJRGnFjlhq7IbFRO2EyEAIfkECAYAAAAsAAAAABcADACEjIqMzM7MrKqs7OrsnJqcvLq89Pb0lJKU3NrctLK09PL0pKakxMLE/P78jI6M1NbUrK6s7O7snJ6cvL68/Pr8lJaU5OLktLa0////AAAAAAAAAAAAAAAAAAAAAAAAAAAABYIgJo5kOTaUYVBmW0YOQQBBHbCIPWDWNDEBTKQiWDgShUlCgWFMCgUEJiCAJCAYxWEhcECSy2byIqVeE0Li4oBUMn0F8rR6TXMPX3fzGZ1bsVpFXk9hcHJUVmhDd18FEAZiF4cLEAKKagcWmhaQEZtMEQgPDxZCW10uqVkSRQSqryIhACH5BAgGAAAALAAAAAAXAAwAhJyanMzOzOzq7LSytPT29Ly+vNza3KyurPTy9Ly6vJyenNTW1Ozu7LS2tPz6/MTCxOTi5P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVxYCSOZGmeaBoFbOBERitEQmtERPEUxZD0iMgukbgtiLoIQzE4AA6/QfDxa9wMDeJDyRwAfMAIL2GNHH/bZVMBDQ+L5kYhke4+51LxvIzVcptPRAcEQmRlC1kNWwhsThCPEIQMkEEEkDMEBguaKp2enyEAOw==') no-repeat 0 0 scroll;
  top: -1px;
}
