<a href="#ops" class="brand">DataTorrent</a> <!-- platform logo -->

<!-- <div class="nav-divider-line"></div> -->

<!-- sign in area -->
<!-- <div class="sign-in-container">
    <a href="#sign-in"></a>
</div> -->

<ul class="dashboard-modes nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle info-link" data-toggle="dropdown"><i class="icon-info-sign icon-white"></i></a>
        <ul class="dropdown-menu">
            <li class="nav-header">cluster info</li>
            <li><a href="#" class="displayLicenseInfo">License Info</a></li>
            <li><a href="#" class="displayGatewayInfo">Gateway Info</a></li>
            <li><a href="#" class="displayConsoleInfo">Console Info</a></li>
            <li class="divider"></li>
            <li class="nav-header">docs &amp; help</li>
            <li><a target="_blank" href="https://www.datatorrent.com/documentation.php">Guides</a></li>
            <li><a target="_blank" href="https://www.datatorrent.com/docs/apidocs/">API Docs</a></li>
            <li><a target="_blank" href="https://www.datatorrent.com/contactus.php">Contact DataTorrent</a></li>
            <li><a href="https://github.com/DataTorrent/Malhar" target="_blank">Malhar Repository</a></li>
        </ul>
    </li>
    <% _.each(modes, function(mode) { %>
    <li>
        <a href="<%= mode.href %>" class="<%= mode.id %> <% if (mode.active) { print('active') } %>"><%= mode.name %></a>
    </li
    ><% }) %>
</ul>

<!-- <div class="nav-divider-line"></div> -->

<!-- <div class="client-brand"> -->
    <!-- <img src="img/<%= client_logo %>"> -->
<!-- </div> -->

<div class="header-license-usage" title="<%= DT.text('licensed_mem_bar_title')(license.agent) %>">
    <%= DT.templates.licensed_mem_bar({agent: license.agent}) %>
</div>