<!DOCTYPE html>
<html>
<head>
    <title>Demos</title>
    <link type="text/css" href="/common/css/demo-common.css" rel="stylesheet" />
</head>
<body>
<% include header %>
<div class="demo-content">
    <p><%= message %></p>
</div>
</body>
</html>