<!DOCTYPE html>
<html>
<head>
    <title>Demos</title>
    <link type="text/css" href="/common/css/demo-common.css" rel="stylesheet" />
</head>
<body>
<% include header %>
<div class="demo-content">
    <h1>DataTorrent Demos</h1>
    <p>Welcome to DataTorrent Demos.</p>
    <p>Please click on the links above to open demos.</p>
</div>
</body>
</html>