<!doctype html>
<html>
<head>
<title>Malhar Twitter Demo</title>

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<link type="text/css" href="common/css/demo-common.css" rel="stylesheet" />


<link type="text/css" href="twitter/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<link rel="stylesheet" href="twitter/css/slick.grid.css" type="text/css" media="screen" />

<script type="text/javascript" src="twitter/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="twitter/js/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="twitter/js/jquery.event.drag-2.0.min.js"></script>
<script type="text/javascript" src="twitter/js/slick.core.js"></script>
<script type="text/javascript" src="twitter/js/slick.grid.js"></script>
<script type="text/javascript" src="twitter/js/LongPoll.js"></script>

<style>
	body { font-size: 0.66em; }

	body, html {
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	}

	label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; color: red }

	.ui-dialog-no-close .ui-dialog-titlebar-close {display: none }
</style>

</head>


<body>

<%- include header %>
<div class="demo-content">

<script>
    //var host = window.location.host;
    var webSocketUrl = '<%= webSocketUrl %>';
    console.log(webSocketUrl);

  function TwitterDemoGridController() 
  {

    this.grid = $("#myGrid").data("grid");
	var self = this;

	var UrlFormatter = function(row, cell, value, columnDef, dataContext) {
        if (value == null || value === "")
        return "";
        return "<a xtarget='recording' href='" + value + "'>" + value + "</a>";
	};
	
	
	this.gridColumns = [
			{id:"url", name:"URL", field:"url", width:300, sortable:false, formatter:UrlFormatter},
			{id:"count", name:"Count", field:"count", width:150, sortable:false, formatter:null}
		];

	this.gridData = [];
	
	var channel = window.location.hash || '#topURLs';

	self.updateList();
/*	
    LongPoll("/channel/" + channel.substr(1), function(data) {
        //console.log("ready to process => " + JSON.stringify(data));
		self.processTuple.call(self, data);
    });
*/  
    var ws = new WebSocket(webSocketUrl);

    ws.onopen = function () {
      var topic = "demos.twitter.topURLs";	
      var msg = JSON.stringify({ "type":"subscribe", "topic": topic});
      console.log("subscribing to " + topic);
      ws.send(msg);
  	};

  	ws.onerror = function (error) {
  	  console.log('WebSocket Error ' + error);
  	};

  	ws.onmessage = function (e) {
  	  //console.log('Server: ' + e.data);
      self.processTuple.call(self, JSON.parse(e.data).data);
  	};  	
    
    $("#channelIdDiv").text('Polling data for: ' + channel);
    
  }

  TwitterDemoGridController.prototype = {

	generateTestData : function () {
	  var dataIndex = (!this.dataIndex ? 0 : this.dataIndex); 
	  
	  var testData = { 
			  "http://192.168.1.2:9080" : 3,
			  "http://192.168.1.4:9080" : 96,
			  "http://192.168.1.3:9080" : 4
	  }		  
	  var keys = [];
	  for (var key in testData) {
		  if (testData.hasOwnProperty(key)) {
		    keys.push(key);
		  }
	  }		  

	  var key = keys[dataIndex % keys.length];
	  var val = testData[key];

	  this.dataIndex = dataIndex+1; 
	  var tuple = {};
	  tuple[key] = val + Math.random();
	  console.log("generated sample: " + dataIndex + ", tuple: " + JSON.stringify(tuple));
	  this.processTuple(testData);
	},	  

	processTuple : function(tuple) {
	  this.gridData = [];
	  for (var key in tuple) {
		if (tuple.hasOwnProperty(key)) {
			this.gridData.push({"url" : key, "count" : parseInt(tuple[key]).toFixed(0)});
		}
	  }		    	    
	},
	
	updateList : function() {

	  if (document.URL.indexOf("file:") === 0) {	  
  	    this.generateTestData();
 	  }
   
	  var grid = this.grid;
	  grid.setColumns(this.gridColumns);

	  this.gridData.sort(function(a,b){return b.count - a.count})	  
	  
	  grid.setData(this.gridData);
   	  grid.updateRowCount();
  	  grid.render();
		
		if (this.refreshTimeout != null) {
			clearTimeout(this.refreshTimeout);
		}
	
		var self = this;
		this.refreshTimeout = setTimeout( function() {
			self.updateList.apply(self);
		}, 1000 );	
		
    }

  };
</script>


<div style="height:100%">

		<div id="channelIdDiv">Demo Data</div>

		<div id="myGrid" style="width:100%;height:100%;min-height:200px;"></div>

		<script>
		
		$(function() {
	        var DateCellFormatter = function(row, cell, value, columnDef, dataContext) {
	            if (value == null || value === "")
	                return "-";
            	return angular.filter.date(value, "yyyy-MM-dd HH:mm:ss");
	        };

	        var HtmlEncodingFormatter = function(row, cell, value, columnDef, dataContext) {
	        	if (value != null && typeof value === 'string') {
	        	  return value.
	        	    replace(/&/g, '&amp;').
	        	    //replace(NON_ALPHANUMERIC_REGEXP, function(value){
	        	    //  return '&#' + value.charCodeAt(0) + ';';
	        	    //}).
	        	    replace(/</g, '&lt;').
	        	    replace(/>/g, '&gt;');
	        	}
	        	return value;
	        };

			var options = {
				enableCellNavigation: true,
	            enableColumnReorder: false,
                fullWidthRows: true
			};

			var columns = [];
            var data = [];
			var grid = new Slick.Grid($("#myGrid"), data, columns, options);
			$("#myGrid").data("grid", grid);
			setTimeout(function() {grid.resizeCanvas();}, 300);

			var controller = new TwitterDemoGridController();
			
		})
		</script>

</div>

</div>
</body>
</html>
