#pagecontent .widget.w-addAlertTemplateWidget,
#pagecontent .widget.w-addAlertWidget {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #DEDEDE;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner,
#pagecontent .widget.w-addAlertWidget .widget-inner {
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, 0px 1px 0 #cccccc, 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 940px;
  margin: 5px auto;
  display: block;
  padding: 20px;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner #alert-form h2,
#pagecontent .widget.w-addAlertWidget .widget-inner #alert-form h2 {
  text-align: center;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column,
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .visual-column,
#pagecontent .widget.w-addAlertWidget .widget-inner .visual-column {
  width: 48%;
  padding: 5px 1%;
  display: inline-block;
  vertical-align: top;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .visual-column .dag-container,
#pagecontent .widget.w-addAlertWidget .widget-inner .visual-column .dag-container {
  min-height: 530px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: inset 0 0 1px #555;
  width: 100%;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .visual-column .dag-container.affix,
#pagecontent .widget.w-addAlertWidget .widget-inner .visual-column .dag-container.affix {
  top: 10px;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column {
  text-align: left;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column .property-type-span,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column .property-type-span {
  color: #999;
  font-size: 10px;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column select,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column select {
  width: 100%;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column input,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column input,
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column textarea,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column textarea {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column .operator-class-definition,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column .operator-class-definition {
  border: 1px solid #CCC;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #DFDFDF;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner #alert_submit_btn,
#pagecontent .widget.w-addAlertWidget .widget-inner #alert_submit_btn {
  display: block;
  margin: 4px auto;
}
#pagecontent .widget.w-addAlertTemplateWidget .widget-inner .procedure-column-container,
#pagecontent .widget.w-addAlertWidget .widget-inner .procedure-column-container {
  text-align: center;
}
