.chart-ctrl h4 {
  margin-bottom: 3px;
}
.chart-ctrl .form-horizontal.well {
  padding-top: 0;
}
.chart-ctrl .plot-colorblock {
  display: inline-block;
  height: 1em;
  width: 1em;
}
.chart-ctrl .input-prepend,
.chart-ctrl .input-append {
  margin-top: 5px;
}
.chart-ctrl .metric_limit {
  text-align: center;
  width: 5em;
}
