body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  background: #ececec;
  min-width: 747px;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #11506d;
}
a:hover {
  color: #0f5e83;
}
p {
  line-height: 22px;
}
.loading-assets {
  background: url('../img/loading.gif') no-repeat 0 0;
  overflow: hidden;
  text-indent: -1000px;
  margin: 200px auto 0;
  height: 95px;
  width: 483px;
}
#wrapper {
  min-width: 1024px;
  padding-top: 48px;
}
#main {
  background-color: #fafafa;
  border: thin solid #ccc;
  overflow: auto;
  width: auto;
}
#header .brand {
  background: url("../img/main_banner.png") no-repeat scroll 0 0;
}
#wrapper [class^="status-"],
#wrapper [class*=" status-"] {
  font-weight: bold;
  text-shadow: 0;
  display: inline-block;
  vertical-align: middle;
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position: 2px center;
}
#wrapper .status-accepted {
  background-image: url('../img/status_accepted.svg');
  color: #0084d7;
}
#wrapper .status-pending-deploy {
  background-image: url('../img/status_accepted.svg');
  color: #0084d7;
}
#wrapper .status-running {
  background-image: url('../img/status_running.svg');
  color: #009900;
}
#wrapper .status-active {
  background-image: url('../img/status_running.svg');
  color: #009900;
}
#wrapper .status-failed {
  background-image: url('../img/status_error.svg');
  color: #bb0000;
}
#wrapper .status-killed {
  background-image: url('../img/status_killed.svg');
  color: #773333;
}
#wrapper .status-finished {
  background-image: url('../img/status_inactive.svg');
  color: #555555;
}
#wrapper .status-inactive {
  background-image: url('../img/status_inactive.svg');
  color: #555555;
}
#wrapper .status-submitted {
  background-image: url('../img/status_submitted.svg');
  color: #48737f;
}
