.widget-procedure .title {
  text-shadow: 0 0 0 #000, 0 0 0 #000;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 100;
}
.widget-procedure .title,
.widget-procedure .description {
  text-align: center;
  line-height: 1.5;
}
.widget-procedure h2 {
  font-size: 17px;
  line-height: 19px;
}
.widget-procedure h3 {
  font-size: 15px;
  color: #343434;
  line-height: 17px;
}
.widget-procedure .procedure-section {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
}
.widget-procedure .help-block {
  color: #ABABAB;
}
