div#sidebar {
  left: 0;
  position: absolute;
  width: 195px;
  margin-right: 5px;
  z-index: 1;
  float: left;
}
div#sidebar ul {
  display: none;
}
div#sidebar > ul {
  display: block;
}
div#sidebar > ul > li {
  width: 195px;
  letter-spacing: 0.1em;
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #dfdfdf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #ececec 0%, #dfdfdf 100%);
  background: -o-linear-gradient(top, #ececec 0%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ececec 0%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#dfdfdf', GradientType=0);
  border-bottom: 1px solid #d8d8d8;
}
div#sidebar > ul > li:hover {
  cursor: pointer;
}
div#sidebar > ul > li:hover > a {
  color: #0f5e83;
  text-shadow: 0 0 10px white,0 0 10px white,0 0 10px white;
}
div#sidebar > ul > li.active {
  /*text-decoration:underline;*/

  font-weight: bold;
  color: #119CD2;
  background: #fafafa !important;
  border-top: thin solid #ccc;
  border-bottom: thin solid #ccc;
  border-left: thin solid #ccc;
  text-shadow: 0 1px 0 #FFF;
}
div#sidebar > ul > li > a {
  padding: 10px;
  padding-left: 30px;
  display: block;
  color: #11506d;
  cursor: pointer;
}
div#sidebar > ul > li > a:hover {
  color: #0f5e83;
}
div#sidebar li.active ul {
  display: block;
  text-indent: 10px;
  font-weight: normal;
  font-size: 85%;
  margin-top: 7px;
  line-height: 2em;
}
div#sidebar .title {
  font-weight: 100;
  letter-spacing: 0.1em;
  margin-bottom: 2px;
  font-size: 11px;
  padding: 10px;
}
div#sidebar .toggle-sidebar {
  position: absolute;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: col-resize;
  right: -5px;
  top: 0;
  height: 100%;
}
