
.tabled-ctnr {
    padding-bottom:20px;
}
.tabled {
	
    font-size:12px;
    overflow:visible;
	
    .thead {
        &.overhang{
            box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);
        }
        .th-row {
            box-shadow: inset 0 1px 0 0 @tabled_border_color, inset 0 -1px 0 0 @tabled_border_color, inset 1px 0 0 0 @tabled_border_color;
        }
        .filter-row {
            input.active {
                background-color: #3D82C2;
                color: white;
                border-color: #747474;
            }
        }
    }
	
    .tr {

        background:#FFF;
        box-shadow: inset -1px -1px 0 0 @tabled_border_color, inset 1px 0 0 @tabled_border_color;
        &:nth-child(even){
            background:#EFEFEF;
        }

        &:last-child td{
            border-bottom:none;
        }

        .th {
            @top: lighten(@light_primary,5%);
            @btm: lighten(@light_primary_ds,5%);
            font-weight:normal;
            letter-spacing:1px;
            box-shadow: inset -1px 0 0 0 @tabled_border_color;
            .resize {
                width: 4px;
            }
            .sortlabel {
                color:#EFEFEF;
                &:hover {
                    color:#FFF;
                    cursor:pointer;
                }
            }
        }

        .td {
            a {
                text-decoration:underline;
                &.btn {
                    text-decoration:none;
                }
            }
            box-shadow: inset -1px 0 0 0 @tabled_border_color;
            .cell-inner {
                .selectbox {
                    position:relative;
                    left:3px;
                    margin:0;
                }
                button, .btn {
                    margin-top:-3px;
                    line-height:15px;
                }
            }
        }
    }
    .resize-table {
        position: absolute;
        bottom: 1px;
        right: 1px;
        cursor: se-resize;
        z-index: 2;
        height: 17px;
        width: 17px;
        background-color: #EEE;
        border-radius: 5px 0 0 0;
        box-shadow: inset 0 -1px 12px -5px, 0 0 0 1px #AAA;
        border:none;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
		
        .resize-grip {
            width:70%;
            height: 1px;
            width: 70%;
            height: 0px;
            margin: 2px auto;
            border-color: #AAA;
            border-width: 1px 0 0;
            border-style: solid;
            position:relative;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            &:nth-child(1) {
                left: -2px;
                top: 4px;
                width: 60%;
            }
            &:nth-child(2) {
                top: 4px;
                width: 80%;
                left: 0px;
            }
            &:nth-child(3) {
                top: 3px;
                left: 3px;
                width: 61%;
            }
			
        }
    }
}