.tabled-ctnr {
  padding-bottom: 20px;
}
.tabled {
  font-size: 12px;
  overflow: visible;
}
.tabled .thead.overhang {
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.tabled .thead .th-row {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3), inset 1px 0 0 0 rgba(0, 0, 0, 0.3);
}
.tabled .thead .filter-row input.active {
  background-color: #3D82C2;
  color: white;
  border-color: #747474;
}
.tabled .tr {
  background: #FFF;
  box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, 0.3), inset 1px 0 0 rgba(0, 0, 0, 0.3);
}
.tabled .tr:nth-child(even) {
  background: #EFEFEF;
}
.tabled .tr:last-child td {
  border-bottom: none;
}
.tabled .tr .th {
  font-weight: normal;
  letter-spacing: 1px;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.3);
}
.tabled .tr .th .resize {
  width: 4px;
}
.tabled .tr .th .sortlabel {
  color: #EFEFEF;
}
.tabled .tr .th .sortlabel:hover {
  color: #FFF;
  cursor: pointer;
}
.tabled .tr .td {
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.3);
}
.tabled .tr .td a {
  text-decoration: underline;
}
.tabled .tr .td a.btn {
  text-decoration: none;
}
.tabled .tr .td .cell-inner .selectbox {
  position: relative;
  left: 3px;
  margin: 0;
}
.tabled .tr .td .cell-inner button,
.tabled .tr .td .cell-inner .btn {
  margin-top: -3px;
  line-height: 15px;
}
.tabled .resize-table {
  position: absolute;
  bottom: 1px;
  right: 1px;
  cursor: se-resize;
  z-index: 2;
  height: 17px;
  width: 17px;
  background-color: #EEE;
  border-radius: 5px 0 0 0;
  box-shadow: inset 0 -1px 12px -5px, 0 0 0 1px #aaaaaa;
  border: none;
  opacity: 0.5;
}
.tabled .resize-table:hover {
  opacity: 1;
}
.tabled .resize-table .resize-grip {
  height: 1px;
  width: 70%;
  height: 0px;
  margin: 2px auto;
  border-color: #AAA;
  border-width: 1px 0 0;
  border-style: solid;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.tabled .resize-table .resize-grip:nth-child(1) {
  left: -2px;
  top: 4px;
  width: 60%;
}
.tabled .resize-table .resize-grip:nth-child(2) {
  top: 4px;
  width: 80%;
  left: 0px;
}
.tabled .resize-table .resize-grip:nth-child(3) {
  top: 3px;
  left: 3px;
  width: 61%;
}
