#pagecontent {
  position: relative;
  overflow: hidden;
  background-color: #DEDEDE;
}
#pagecontent.with-dash-manager {
  box-shadow: inset 220px 0 0 #ffffff;
}
#pagecontent .widget {
  margin: 2px 0;
  box-shadow: inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, 0px 1px 0 #cccccc, 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
  vertical-align: top;
  overflow: auto;
  position: relative;
  background-color: #fafafa;
  border-radius: 2px;
}
#pagecontent .widget.highlighted {
  box-shadow: 0 0 2px 1px #ff0000, inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, 0px 1px 0 #cccccc, 0 1px 3px rgba(0, 0, 0, 0.2);
}
#pagecontent .widget .widget-header {
  border-radius: 2px 2px 0 0;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  padding: 0px 5px;
  line-height: 1;
  box-shadow: inset 0 1px 0 #cccccc, 1px 0 0 #cccccc, inset 1px 0 0 #cccccc, inset 0px -1px 0 #eaeaea;
  background-color: #F3F3F3;
  text-shadow: 0 0 0 #000, 0 0 0 #000;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 100;
}
#pagecontent .widget .widget-header input.wid {
  font: inherit;
  padding: 0 3px;
  margin: 0;
  width: 150px;
  text-shadow: inherit;
  letter-spacing: inherit;
}
#pagecontent .widget .widget-header .wid {
  margin-right: 20px;
}
#pagecontent .widget .widget-header .widget-type {
  color: #AAA;
  font-size: 10px;
}
#pagecontent .widget .widget-header .widget-name,
#pagecontent .widget .widget-header .widget-type {
  display: inline-block;
  vertical-align: middle;
}
#pagecontent .widget .widget-header .widget-ctrls {
  float: right;
}
#pagecontent .widget .widget-header .widget-ctrls i {
  cursor: pointer;
  opacity: 0.5;
}
#pagecontent .widget .widget-header .widget-ctrls i:hover {
  opacity: 1;
}
#pagecontent .widget .widget-content {
  padding: 5px;
}
#pagecontent .widget .widget-width-resize {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}
#pagecontent .widget .widget-height-resize {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  cursor: ns-resize;
}
#pagecontent .widget .widget-width-resize:hover,
#pagecontent .widget .widget-height-resize:hover,
#pagecontent .widget .widget-width-resize.widget-resizing,
#pagecontent .widget .widget-height-resize.widget-resizing {
  background-color: rgba(0, 0, 0, 0.5);
}
#pagecontent .dashboardMain {
  /*		box-shadow: -3px 3px 3px -3px rgba(0, 0, 0, 0.4);*/
  padding: 0 4px;
  background-color: #DEDEDE;
}
#pagecontent .dashboardMgr {
  /*		box-shadow: inset -3px 3px 3px -3px rgba(0, 0, 0, 0.4), inset 0 -100px 100px -21px #fafafa;*/
  /*		left:1px;*/
  /*		top: 3px;*/
  float: left;
  width: 219px;
  background: white;
  position: relative;
  z-index: 1;
}
#pagecontent .dashboardMgr .inner {
  padding: 5px 10px 10px 5px;
  min-height: 600px;
  /*			ul.widget-instances {*/
}
#pagecontent .dashboardMgr .inner .title {
  text-shadow: 0 0 0 #000, 0 0 0 #000;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 100;
  border-bottom: 1px solid #CCC;
  margin: 7px 0;
}
#pagecontent .dashboardMgr .inner .dash-list {
  margin-top: 50px;
}
#pagecontent .dashboardMgr .inner .dash-list li {
  padding: 5px;
}
#pagecontent .dashboardMgr .inner .dash-list li label {
  font: inherit;
}
#pagecontent .dashboardMgr .inner .dash-list li input[type="radio"] {
  display: none;
}
#pagecontent .dashboardMgr .inner .dash-list li input[type="text"] {
  margin: 0;
}
#pagecontent .dashboardMgr .inner .dash-list li.selected {
  background: #EFEFEF;
  box-shadow: inset 0 -1px 0 #dfdfdf, inset 0 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 #000, 0 2px 1px #FFF,0 2px 1px #FFF;
}
#pagecontent .dashboardMgr .inner .dash-list li.selected .bullet {
  font-size: 80%;
  margin-right: 1px;
}
#pagecontent .dashboardMgr .inner .dash-list li i.icon-remove,
#pagecontent .dashboardMgr .inner .dash-list li i.icon-trash {
  right: 4px;
  top: 3px;
}
#pagecontent .dashboardMgr .inner .dash-list .actions {
  margin-top: 10px;
}
#pagecontent .dashboardMgr .inner ul {
  margin: 0 0 5px 0;
}
#pagecontent .dashboardMgr .inner ul .item-placeholder {
  background-color: red;
  height: 3px;
  padding: 0;
  width: 100%;
}
#pagecontent .dashboardMgr .inner ul li {
  display: block;
  padding: 5px 0;
  position: relative;
  box-shadow: inset 0 -1px 0 #dfdfdf;
  font: inherit;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-shadow: 0 0 #000,0 0 #000;
}
#pagecontent .dashboardMgr .inner ul li input.wid {
  padding: 0 5px;
  vertical-align: middle;
  margin: 0;
}
#pagecontent .dashboardMgr .inner ul li.wsort-helper {
  height: 5px;
  background-color: red;
  padding: 0;
}
#pagecontent .dashboardMgr .inner ul li .wname,
#pagecontent .dashboardMgr .inner ul li .wid {
  display: inline-block;
  vertical-align: middle;
}
#pagecontent .dashboardMgr .inner ul li .wname {
  color: #ACACAC;
  font-size: 75%;
}
#pagecontent .dashboardMgr .inner ul li i {
  opacity: 0.5;
  vertical-align: middle;
}
#pagecontent .dashboardMgr .inner ul li i:hover {
  opacity: 1;
}
#pagecontent .dashboardMgr .inner ul li i.icon-remove,
#pagecontent .dashboardMgr .inner ul li i.icon-trash {
  position: absolute;
  right: 0;
  cursor: pointer;
}
#pagecontent .dashboardMgr .inner ul li i.icon-pencil {
  position: absolute;
  right: 22px;
  cursor: pointer;
  top: 3px;
}
#pagecontent .dashboardMgr .inner ul li i.icon-list {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
#pagecontent .dashboardMgr .inner ul li i.icon-cog {
  cursor: pointer;
  right: 16px;
  position: absolute;
}
#pagecontent .dashboardMgr .inner .actions {
  margin-bottom: 20px;
}
#pagecontent .dashboardMgr .collapser-container {
  position: absolute;
  width: 7px;
  height: 2000px;
  right: 0px;
  top: 0px;
  background: #FFF;
  /*			box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);*/
  cursor: col-resize;
}
#pagecontent .dashboardMgr .collapser-container:hover {
  background-color: #AAA;
}
#pagecontent .dashboardMgr .collapser-container .collapser {
  width: 100%;
  text-align: center;
  line-height: 6px;
  margin-top: 10px;
}
#pagecontent .dashboardMgr .collapser-container .collapser .collapse-dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #FFF;
  /*					display:inline-block;*/
  display: none;
  box-shadow: inset -1px -1px 3px -1px rgba(0, 0, 0, 0.3);
}
#pagecontent .w-JarAppActions {
  overflow: visible;
}
.widget-settings .widget-settings-title {
  font-size: 16px;
  font-weight: bold;
}
.widget-settings .validation-error {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 100, 100, 0.8);
}
