#breadcrumbs {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  background-color: #EFEFEF;
  border-bottom: 1px solid #CCC;
  text-shadow: 0 0 0 black,0 0 0 black;
}
#breadcrumbs .breadcrumb {
  padding: 10px;
  display: inline-block;
  text-shadow: 0 0 0 #000, 0 0 0 #000;
  color: #000;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 100;
  border-right: 1px solid #AAA;
  padding-right: 20px;
  border-radius: 0 20px 20px 0;
}
#breadcrumbs a.breadcrumb {
  background-color: #EFEFEF;
  color: #176D94;
  text-shadow: 0 0 0 #176D94, 0 0 0 #176D94;
  text-rendering: optimizeLegibility;
}
#breadcrumbs a.breadcrumb:hover {
  text-decoration: none;
  background-color: #F3F3F3;
}
#breadcrumbs span.breadcrumb:last-child {
  border-right: none;
  padding-right: 0;
  border-radius: 0;
}
