<% if (agent.totalLicensedMB) { %> 
    <a href="#config/license" class="license-agent-mem-usage progress <% 
        if (agent.percentUsedLicenseMB > 90) { 
            print('progress-danger pulse');
        } else if (agent.percentUsedLicenseMB > 70) {
            print('progress-warning');
        } else if (agent.percentUsedLicenseMB > 30) {
            print('progress-success');
        } %>">
        <span class="bar" style="width:<%= agent.percentUsedLicenseMB %>%"></span>
    </a>
    <a href="#config/license" class="license-agent-usage-label"><%= agent.percentUsedLicenseMB ? agent.percentUsedLicenseMB + '% memory used' : '' %></a>
<% } %>