BODY {
	font-family: sans-serif;
}

tr:nth-child(odd)	{ background-color:#FFFFE6; }
tr:nth-child(even)	{ background-color:#E0F0FF; }

thead th { background-color:#E0F0FF; }

img.center	{display: block; margin-left: auto; margin-right: auto;}
