<div class="row-fluid job-progress-header">
    <h2>Job Progress</h2>
    <span class="job-label">Job Id:</span> {{activeJobId}}
</div>

<div class="row-fluid" ng-controller="JobGridController">
    <!--
    <div class="span8">
        <h2>Job Progress Chart</h2>
        <line-chart chart="chart" class="line-chart"></line-chart>
    </div><!--/span-->
    <div class="span6 grid-container">
        <div ng-grid="gridOptions" class="job-progress-grid"></div>
    </div><!--/span-->
    <div class="span6">
        <small><em>Map - {{progress.map.progress | number:2}}%</em></small>
        <progress percent="progress.map.progress" class="progress-striped"
                  ng-class="{'active': progress.map.active}">
        </progress>

        <small><em>Reduce - {{progress.reduce.progress | number:2}}%</em></small>
        <progress percent="progress.reduce.progress" class="progress-striped"
                  ng-class="{'active': progress.reduce.active}">
        </progress>

        <small><em>Total - {{progress.total.progress | number:2}}%</em></small>
        <progress percent="progress.total.progress" class="progress-striped"
                  ng-class="{'active': progress.total.active}">
        </progress>

    </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
    <div class="span6" ng-controller="MapLineChartController">
        <h2>Map Progress</h2>
        <line-chart chart="chart" class="line-chart"></line-chart>
    </div><!--/span-->
    <div class="span6" ng-controller="ReduceLineChartController">
        <h2>Reduce Progress</h2>
        <line-chart chart="chart" class="line-chart"></line-chart>
    </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
    <div class="span6 grid-container" ng-controller="MapGridController">
        <h2>Map Tasks</h2>
        <div ng-grid="gridOptions" class="task-progress-grid"></div>
    </div>
    <div class="span6 grid-container" ng-controller="ReduceGridController">
        <h2>Reduce Tasks</h2>
        <div ng-grid="gridOptions" class="task-progress-grid"></div>
    </div>
</div>