/* libraries */
@import url("bootstrap.css");
@import url("bootstrap-overrides.css");
@import url("jquery.pnotify.default.css");
@import url("jquery.pnotify.overrides.css");
@import url("jquery-ui/jquery-ui-1.10.3.custom.css");
@import url("jquery-ui.overrides.css");

/* common styles */
@import url("main.css");
@import url("icons.css");
@import url("tables.css");
@import url("charts.css");
@import url("widgets.css");
@import url("procedure.css");
@import url("mainsprite.css");
@import url("palette.css");
@import url("alerts.css");

/* components */
@import url("../js/datatorrent/HeaderView/HeaderView.css");
@import url("../js/datatorrent/Breadcrumbs/Breadcrumbs.css");
@import url("../js/datatorrent/DagView/DagView.css");
@import url("../js/datatorrent/LaunchJarWithPropsView/LaunchJarWithPropsView.css");
@import url("../js/datatorrent/tabled/tabled.css");
@import url("../js/datatorrent/livechart/livechart.css");

/* widgets */
@import url("../js/datatorrent/widgets/TopNWidget/TopNWidget.css");
@import url("../js/datatorrent/widgets/InfoWidget/InfoWidget.css");
@import url("../js/datatorrent/widgets/OverviewWidget/OverviewWidget.css");
@import url("../js/app/lib/widgets/PerfMetricsWidget/PerfMetricsWidget.css");
@import url("../js/app/lib/widgets/TupleViewerWidget/TupleViewerWidget.css");

/* @import url("../js/app/lib/widgets/ActionWidget/ActionWidget.css"); */
@import url("../js/app/lib/widgets/AppDagWidget/AppDagWidget.css");
@import url("../js/app/lib/widgets/LogicalDagWidget/LogicalDagWidget.css");
@import url("../js/app/lib/widgets/OpChartWidget/OpChartWidget.css");
@import url("../js/app/lib/widgets/JarListWidget/JarListWidget.css");
@import url("../js/app/lib/widgets/AppListWidget/AppListWidget.css");
@import url("../js/app/lib/widgets/GaugeWidget/GaugeWidget.css");
@import url("../js/app/lib/widgets/LogicalOpListWidget/LogicalOpListWidget.css");